<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование периода</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header "></header>
<div class="container mt-5 md-5">
    <h1>Редактирование периода</h1>
    <div th:each="el : ${period}">
        <form method="post">
            <input type="text" name="name" placeholder="Введите имя периода" th:value="${el.getName()}"> <input name="startDate" type="date" th:value="${el.getStartDate()}">
            <input name="endDate" type="date" th:value="${el.getEndDate()}"><br><br>
            <button type=submit class="btn btn-success">Обновить период</button>
        </form>
    </div>
</div>

<hr>
<hr>


</body>
</html>